table { border-collapse: collapse;}
body{ font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; line-height: "1.42857143";}
tfoot>tr>td{ margin-top:3%;  padding:5px;}
a{text-decoration: none;}
a:link, a:visited ,a:active{text-decoration: none;}
a:hover{ background:rgb(234, 73, 79); color: white !important; text-decoration: none;}
.csv_details:nth-child(2n) { background: rgba(236,246,248,0.99);}
#tst_profile_loader{margin-left: 43%; 	width: 11%;	margin-top: 16%;}
.font-size{font-size: 13px;	text-align: center;}
.test_profile_name{	text-decoration: none;}
.test_profile_name:hover{ color: black !important; text-decoration: none;}
.test_profile_name:visited{text-decoration: none;}
.test_profile_name:link{text-decoration: none;}
.test_profile_name:active{text-decoration: none;}
#view_message_id :hover{ text-decoration: none;}
.modal {  background: #eee; width: 600%; margin: 20% auto;    /* margin-left: 341px; */
        border: 3px solid #666; padding: 20px;-150px;}
.mouseclick{ background-color:yellow;}
.table_row_mouse_hover{background-color:yellow;}     
.avoid-clicks {
  pointer-events: none;
}
.disabledbutton {
    pointer-events: none;
    opacity:0.5;
}