html
{
  padding:0px !important;
}
li
{
 margin-bottom: 0px !important;
}
 #tst_profile_loader
{
 margin-left: 38%;
 width: 11%;
 margin-top: 6%;
}
.cust_profile_wrapper
{
  width: 100%;
  margin: 0px auto;
  padding: 5px;
}
#tmm-form-wizard .next, #tmm-form-wizard .prev 
{
    position: relative;
    padding-top: 12px;
    margin-right: 20px;
}
#tst_profile_details:nth-child(2n) 
{
    background: rgba(236,246,248,0.99) !important;
}
.refine_pfl_preview_info:nth-child(2n)
 {
    background: rgba(236,246,248,0.99) !important;
}
.refine_tst_price_info:nth-child(2n)
 {
    background: rgba(236,246,248,0.99) !important;
}
.refine_pfl_order_class:nth-child(2n) 
{
    background: rgba(236,246,248,0.99) !important;
}
.refine_pfl_order_class
 {
    border: 1px solid rgb(221,221,221);
}
 #cloud_tests
 {
     padding-top: 35px;
     text-align: justify;
 }
 .pop_test:nth-child(even)
 {
      color:green; 
 }
 .pop_test:nth-child(odd)
 {
      color:red; 
 }
 .pop_test:hover
 {
   background:yellow; 
 }
 .profile_lab_page:hover
{
    background:rgb(234, 73, 79);
    color: white !important; 
 }
 .profile_lab_page
 {
   text-decoration: none !important; 
 }
 .pop_test
 {
   text-decoration: none !important; 
 }
 #tmm-form-wizard .button span 
{
    border-top: 1px solid #C74242 !important;
    border-bottom: 1px solid #C03535 !important;
    border-left: 1px solid #EC4949 !important;
    border-right: 1px solid #C24040 !important;
    display: inline-block;
 }
 #tmm-form-wizard .prev .button-divider 
 {
    position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
 }
  #tmm-form-wizard .next .button-divider
  {
     position: absolute;
    height: 50% !important;
    width: 2px;
    border: 1px solid #EC4949 !important;
  }
   
   .form-wizard
   {
     background: white !important;   
   }
   #tmm-form-wizard .button
   {
    background-image: linear-gradient(to bottom, #EC4949 25%, #C04040 100%) !important;   
   }
.tst_pfl_preview_info:nth-child(2n)
{ 
   background: rgba(236,246,248,0.99) !important;
}
.tst_pfl_success_det
{
  padding-top: 3px !important;
  padding-bottom: 3px !important;
}
.tst_pfl_order_class:nth-child(2n)
{
  background:rgba(236,246,248,0.99) !important;
 }
  .tst_pfl_order_class
 {
  border:1px solid #ddd !important;
}
#form_patient_gender
{
  -webkit-appearance: none !important;
}
.form-wizard
{
 padding:0px !important;
}
#tmm-form-wizard.substrate .input-block label 
{
	font-size: 12px !important;
}
#tst_pfl_gender> option:first-child
{
    display: none;
}
.test_desc  ul
{
   display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

.test_desc  ol
{
   display: block;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}

